importFrom(graph,nodeData,edgeData,nodeDataDefaults,edgeDataDefaults,"nodeDataDefaults<-","edgeDataDefaults<-","nodeData<-","edgeData<-",inEdges,nodes)
importClassesFrom(graph,graph,graphBase,graphNEL)
importFrom(digest,digest)
importFrom(methods,setClass,setMethod,setAs,setGeneric)
useDynLib(dotpipeR,readdot)
export(read.Pipeline,eval.Pipeline,eval.PipelineNodes,cacheMethodDigest,cacheMethodPipelineDigest,cachePaths,addNode,addEdge,removeNode,removeEdge,nodeData,"nodeData<-",code.PipelineNodes,getNodeEvaluatorString,genNodeArgsStrings)
exportPattern("*")
exportClasses(Pipeline)
exportMethods("[","[<-",attach)
